form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  color: #FFB2A6;
}

form button {
  color: #FF8AAE;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #FF8AAE;
  color: white;
}

select {
  color: #FF8AAE;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.filter-todo {
  padding: 1rem;
}
