* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to top, #a8edea 0%, #9adcff 100%);
  color: #fff89a;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
